[global_config]
  enabled_plugins = TerminatorThemes
  inactive_color_offset = 1.0
  suppress_multiple_term_dialog = True
  title_transmit_bg_color = "#a40000"
[keybindings]
  layout_launcher = <Alt>KP_6
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      profile = default
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_color = "#2d2d2d"
    cursor_color = "#aaaaaa"
    foreground_color = "#cccccc"
    palette = "#393939:#515151:#999999:#d3d7cf:#f99157:#ffcc66:#ffffff:#66cccc:#6699cc:#cc99cc:#90bddd:#fce94f:#99cc99:#ad7fa8:#34e2e2:#41a16d"
